body{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(223, 230, 223);

}

h1,
h2{
  text-align: center;
}

.canvas{

    width: 90%;
    height: 600px;
    background: #212121;
    margin: 50px auto 0; 
    padding: 30px;   
    color: white;

}

span{
    display: block;
}

.button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
    margin-top: 35px;
    margin-right: 35px;
    padding: 0 50px 0;
  }
  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }
  